<main>
    <app-sidebar />
    <div class="filter">
        <mat-form-field appearance="outline">
            <mat-label>Buscar por usuários no chat</mat-label>
            <input matInput [formControl]="filterControl" [matAutocomplete]="auto">
            <mat-icon matSuffix>person</mat-icon>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let user of users" [value]="user.username"
                    (click)="openConversation(user.username)">
                    {{ user.username }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <button mat-fab matTooltip="Ver perfil" id="profile-button" (click)="openDialog('200ms', '100ms')">
            {{ profile.username.charAt(0).toUpperCase() }}
        </button>
    </div>
</main>