main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    #Toolbar {
        background-image: linear-gradient(65deg,
                hsl(173deg 93% 17%) 0%,
                hsl(173deg 86% 19%) 21%,
                hsl(173deg 83% 21%) 30%,
                hsl(173deg 82% 23%) 39%,
                hsl(173deg 80% 24%) 46%,
                hsl(173deg 79% 26%) 54%,
                hsl(173deg 79% 27%) 61%,
                hsl(173deg 78% 28%) 69%,
                hsl(173deg 78% 30%) 79%,
                hsl(173deg 77% 31%) 100%);

        mat-toolbar-row {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;

            .tool-right {
                display: flex;
                align-items: center;
                gap: .225rem;

                span {
                    font-weight: 200;
                    font-size: .825rem;
                    color: #FFF;
                }

                mat-icon {
                    color: #FFF;
                }
            }

            .tool-left {
                display: flex;
                align-items: center;
                gap: .225rem;

                button {
                    font-weight: 400;
                    color: #FFF;
                }

                mat-icon {
                    color: #FFF;
                }
            }
        }
    }

    #messages {
        flex: 1;
        overflow-y: auto;
        padding: 1rem;
        display: flex;
        flex-direction: column-reverse;

        mat-list {
            .message-wrapper {
                display: flex;
                flex-direction: column;
                margin-bottom: 1rem;

                .message-content {
                    display: inline-block;
                    padding: 10px;
                    border-radius: 5px;
                    max-width: 50%;
                    word-wrap: break-word;
                }

                .sent {
                    background-color: #dcf8c6;
                    align-self: flex-end;
                }

                .received {
                    background-color: #fff;
                    align-self: flex-start;
                    border: 1px solid #ccc;
                    text-align: left;
                }
            }
        }

    }

    #input-container {
        display: flex;
        align-items: center;
        padding: 1rem;
        border-top: 1px solid #CCC;
        background-color: white;

        mat-form-field {
            flex: 1;
            width: 80%;
            padding: 1rem;
        }

        #send {
            cursor: pointer;
        }

        #emoji {
            cursor: pointer;
        }
    }
}