main {
    #modal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .625rem;

        h1 {
            font-weight: 800;
        }

        span {
            font-weight: 400;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFF;
            background-image: linear-gradient(65deg,
                    hsl(173deg 93% 17%) 0%,
                    hsl(173deg 86% 19%) 21%,
                    hsl(173deg 83% 21%) 30%,
                    hsl(173deg 82% 23%) 39%,
                    hsl(173deg 80% 24%) 46%,
                    hsl(173deg 79% 26%) 54%,
                    hsl(173deg 79% 27%) 61%,
                    hsl(173deg 78% 28%) 69%,
                    hsl(173deg 78% 30%) 79%,
                    hsl(173deg 77% 31%) 100%);
        }
    }
}