<mat-drawer-container class="example-container">
    <div class="header">
        <h1>
            Chat web
            <mat-icon>chat</mat-icon>
        </h1>
    </div>
    <ul *ngFor="let conversation of conversations">
        <li *ngFor="let user of conversation.participants">
            <mat-icon>person</mat-icon>
            <button mat-button (click)="onConversationClick(conversation.id)">{{ user.username.toUpperCase() }}</button>
        </li>
    </ul>
    <div class="pop-up">
        <div class="card">
            <h3>Atualizar chat</h3>
            <h2>
                Chat web
                <mat-icon>chat</mat-icon>
            </h2>
            <span>Uma nova avaliação foi lançada!</span>
            <button>Atualizar</button>
            <button id="logout" mat-button (click)="logout()">
                Sair
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </div>

</mat-drawer-container>