.example-container {
    width: 15%;
    height: 100%;
    background-image: linear-gradient(65deg,
            hsl(173deg 93% 17%) 0%,
            hsl(173deg 86% 19%) 21%,
            hsl(173deg 83% 21%) 30%,
            hsl(173deg 82% 23%) 39%,
            hsl(173deg 80% 24%) 46%,
            hsl(173deg 79% 26%) 54%,
            hsl(173deg 79% 27%) 61%,
            hsl(173deg 78% 28%) 69%,
            hsl(173deg 78% 30%) 79%,
            hsl(173deg 77% 31%) 100%);
    box-shadow: 5px 0px 15px 12px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    position: absolute;

    .header {
        h1 {
            margin-top: 1rem;
            color: #fff;
            font-size: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .625rem;
        }
    }

    ul {
        margin-top: 3rem;
        width: 80%;
        height: 50%;
        display: flex;
        flex-direction: column;
        gap: 1.625rem;

        li {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 1rem;
            list-style: none;
            width: 80%;
            height: 5%;
            border-radius: 4px;
            font-weight: 400;
            font-size: 1rem;
            color: #FFF;
            cursor: pointer;
        }

        li:hover {
            background-color: #2CAB9D;
        }
    }

    .pop-up {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30%;

        .card {
            width: 80%;
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 1rem;
            box-shadow: 5px 0px 15px 12px rgba(0, 0, 0, 0.1);
            background-color: #FFF;

            h3 {
                text-align: center;
                font-weight: 600;
            }

            h2 {
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 600;
                color: #128C7E;
            }

            span {
                color: #51616B;
            }

            button {
                width: 80%;
                height: 20%;
                border-radius: 1rem;
                margin-top: 1.625rem;
                border: none;
                color: #FFF;
                background-color: #128C7E;
                cursor: pointer;
                font-weight: 600;
            }
        }
    }
}